<html>
    <head>
        <link rel="stylesheet" href="style.css"> 
        <style type="text/css">
            .lines_width,
            .functions_width {
                width: 5ch; // max digit count + 2
            }

            .percent_n { width: 4ch; text-align: right; display: inline-block; }
            .percent_d { width: 3ch; text-align: left; display: inline-block; }
        </style>
        <title>{{ title }}</title>
    </head>
    <body>
        <table class="results" style="table-layout: fixed;">
            <colgroup>
                <col style='width: 100%;' />
                <col style='width: 11ch;' /> <!-- ((max digit count + 1) * 2) + 3 -->
                <col style='width: 11ch;' />
                <col style='width: 11ch;' />
                <col style='width: 11ch;' />
            </colgroup>
            <thead>
                <tr>
                    <th colspan=5>{{ title }}</th>
                </tr>
            </thead>
            <thead>
                <tr style="background-color: #d0f4ff14">
                    <td colspan=5>
                        Generated {{ strftime input_mtime "%e %b %Y, %k:%M" }}.
                    </td>
                </tr>
                <tr>
                    <th colspan=5>Function Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan=5>
                        {{ total_func_hit_rate }}% instrumented.
                        <a href="functions.html">details</a></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th colspan=5>File Summary</th>
                </tr>
                <tr>
                    <th rowspan=2>Filename</th>
                    <th colspan=2>Lines Hit</th>
                    <th colspan=2>Func. Hit</th>
                </tr>
                <tr>
                    <th>%</th>
                    <th>Count</th>
                    <th>%</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {{#each files}}
                <tr>
                    <td><a href="{{ link }}">{{ name }}</a></td>
                    <td class="{{ line_hit_class }}" title="{{ lines_percent }}%"><span class="percent_n">{{ lines_percent_n }}</span><span class="percent_d">{{ lines_percent_d }}</span></td>
                    <td class="blue"><span class="lines_width">{{ lines_covered }}</span><span class="lines_width">{{ lines_count }}</span></td>
                    <td class="{{ function_hit_class }}" title="{{ functions_percent }}"><span class="percent_n">{{ functions_percent_n }}</span><span class="percent_d">{{ functions_percent_d }}</span></td>
                    <td class="blue"><span class="functions_width">{{ functions_covered }}</span><span class="functions_width">{{ functions_count }}</span></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </body>
</html>